<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Team Generator</title>
</head>

<body>
    <!-- Card -->
    <div class="card" style="margin: 30px; width: 18rem;">
        <div class="card-header" style="background-color:rgb(39, 91, 235); color: white; font-weight: 500;">
            #### <div>#####</div>
        </div>
        <div class="card-body" style="margin: 10px;">
            <li class="list-group-item">Email: </li>
            <li class="list-group-item">####: </li>
            <li class="list-group-item">ID#: </li>
        </div>
    </div>
</body>

</html>